.top-menu{
    color: #fff;
    & a {
        color: #fff;
    }
    & .login-menu {
        & .dropdown-menu{
            padding: 0;
            & .dropdown-item {
                padding:5px 10px;
                & a {
                    padding-left: 0;
                    padding-right: 0;
                    color: #868686;
                    &:hover, &:focus {color:#d81515}
                }
            }
      }
    }
}
// .navbar {
//     background-color: rgba(0,0,0,.2);
// }
.page-footer, .top-nav-collapse {
    background-color: #1C2331;
  }
  @media screen and (min-width: 600px){
    .navbar.scrolling-navbar {
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }